.Tags__Car{
    overflow-y: hidden;
    white-space: nowrap;
    align-self: center;
    height: 80px;
    display: flex;
    align-items: center;
    max-width: fit-content;
    justify-content: center;
    position: fixed;
    background-color: #f7f7f7;
    margin-top: -93px;
  
}
.Tags__Car.fixed {
    position: fixed;
    top: 0;
    margin-top: 0;
    align-items: center;
    min-width: 100%;
  }
  
.Body__Element__Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: fit-content;
    margin-top: 50px;
    
}

::-webkit-scrollbar {
    display: none;
  }
.Tag__Element{
    display: flex;
    cursor: pointer;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    width:fit-content;
    height:fit-content;
    margin-left: 10px;
    padding: 10px;
    background-color: white;
}
.Tag__Element .Logo__Icon{
    justify-content: center;

}
.Tag__Element .Logo__Icon img{
    align-self: center;
    height: 25px;
    width: 30px;
}
.Tag__Element p{
    margin: 0px;
    max-width: fit-content;
    font-weight: bold;
    margin-left: 10px;
    height: 25px;
 
    text-align: center;
}

.Body__Element{
    height: 250px;
   margin-top: 10px;
    width: 250px;
    margin-left: 15px;
    border-radius: 18px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
   
}
.Image{
    width: 230px;
    margin-top: 10px;
    border-radius: 18px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
 
}
.Image img{
    height:100px;
    width:200px
}
.Image img:hover{
    transform: scale(1.20);
}
.Description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 230px;;
    margin-top: 5px;
    
}
.Info__Car__Index{
    display: flex;
    flex-direction: column;
 
    max-height: 60px;
}
.Info__Car__Index p{
    display: flex;
    margin: 0;
}
.Action{
    display: flex;
    flex-direction: row;
}
.Action__Elment{
    height: 30px;
    width: 30px;
 
    border-radius: 50%;
    margin-left: 5px;
}
.Action__Elment img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.Action__Elment img:hover{
    transform: scale(1.09);
}
.Detail__Car{
    display: flex;
    flex-direction: row;
 
    width: 230px;
    justify-content: space-between;
    height: 40px;
    margin-top: 18px;
    
    
}
.Detail__Element {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    
}
.Detail__Element p{
    margin: 0;
 
    font-size: 13px;
}
.Detail__Element img{
    height:20px;
    width: 20px;
}
.activeTag{
    background-color: rgb(48, 189, 224);
    color: white;
}