body{
    height: 100%;
    width: 100%;
    margin: 0;
 
}
.Form input[type="text"],.Form  input[type="date"]{
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    width: 150px;
    outline:none;
    border-color: gray;
  }
 .Form input[type="number"]{
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    width: 80px;
    outline:none;
    border-color: gray;

 } 

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
   align-content: center;
   
}
li{
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
    color: black;
}
:link{
    text-decoration: none;
    color: black;
}


.Container__Home{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
}
img{
    height: 40px;
    width:40px
}
.Info__Owner{
    height: 40px;
    margin: 0px;
    margin-left: 10px;
}
.Info__Owner p{
    margin: 0px;
    font-size: 14px;
}
.Title__Home{
    display: flex;
    background-color: white;
    height:80px;
    justify-content: center;
    justify-items: center;
    width: 100%;
}
.Title__Home h2{
    text-align: center;
    color: gray;

}
.Form {
   display: flex;
   height: 30%;
   flex-direction: column;
   align-items: center;
   padding-top: 20px;
   justify-content: center;  

}
form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 1px 1px 2px 2px #dfd7ca;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 15px; 
    padding-bottom: 10px;
}
label{
    font-weight: 400;
}
.Form__Element{
    margin-left: 100px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.Form__Element input{

    border: 1px solid gray;
    height: 40px;

}

.Form__Element button{
    width: 400px;
    margin-top: 10px;
    height:40px;
    border-radius: 10px;

}
.Services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
   
}
.Service__Element{
    border: 1px solid black;
    height: 100%;
    width: 25%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 1%;
    border-width: 0px;

}
.Service__Element__Image img{
    align-self: center ;
    height: 80%;
    width: 80%;
}
.Services__Container{
    height: 80%;
}
.Services__Container h3{
    text-align: center;
}
.Service__Element__Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;

    align-self: center;

}
.Service__Element__Container p{
    margin:0px
}
.Serivce_Element__Button{
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
}
.Serivce_Element__Button button{
    width: 80%;
}
.Service__Element__Image{

    text-align: center;
    height: 15vmax;
    
 
}
.CheeckBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40px;
}
.CheeckBox input{
    width: 30px;
    height:30px ;
    margin: 15px;
    align-items: center;
}
.CheeckBox label{
    margin-left: 3px;
    font-weight: 500;
}
.Body__Element__Container__Search{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: fit-content;
}