html, body {
    height: 100%;
}
.Container__Common{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 8%;
    margin-top: 3px;
    position: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px solid #dfd7ca;
}
.Header__Common{
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 50%;
}
.Nav__Barre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.Container__Header__Options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
     color: gray;
    width: fit-content;
}
.Container__Header__Options >p{
    font-size: 16px;
    margin: 0;
    padding-bottom: 5px;
}
.Container__Header__Options:hover{
    color: black;
}

.Nav__Barre__Element{
    background-color: green;
    display: flex;
}
.Title__Header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    width: 25%;
}
.Own__Info__Header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 10px;
     align-items: center;
    width: 25%;
}
.Own__Info__Header p{
    margin: 0;
}
.Info__Owner__Common{
    padding: 10px;
}
.Children_div{

    height: 90%;
    width: 100%;

}

.Footer{
    text-align: center;
    background-color: white;
    font-size: 13px;
    width: 100%;
    margin-top: 20%;
    bottom: 2px;
}

.nav_log{
    height: 70px;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.flags__container{
    display: flex;
    flex-direction: row;
}
.flags__container img{
    height: 30px;
    height: 30px;
    margin-left: 20px;
}
.sub_item{
 
 margin-right: 10px;
 display: flex;
 flex-direction: column;


}
.sub_item_item{
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-top: 10px;
    margin-left: 10px;
    

}
.sub_item_item p{
    margin: 0px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}
.sub_item_item img{
    width: 20px;
    height: 20px;
}
.options__languges{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    width: 30px;

}
.WhatsApp__Container{
    bottom: 15%;
    left: 95%;
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.WhatsApp__Container img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.item{
    margin-top: 10px;
}
#arrow{
    width: 30px;
    height: 30px;
    cursor: pointer;
}