
.Container__Rate{
   height: 100%;
   width: 100%;
   display: flex;

   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.No__Comment{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5px;
    align-items: center;

}
.No__Comment img{
    height: 100px;
    width: 100px;
}
.No__Comment h3{
    text-align: center;
}
.Element__Container__Rate{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 80%;
    margin-left: 5px;
    margin-bottom: 10px;
    align-items: center;
}
.Input__Comment{
 
     display: flex;
     flex-direction: column;
     height: 80px;
     width: 100%;
  

}
.Input__Comment input{
    margin: 0px;
    margin-left: 0px;
    margin-top: 8px;
    width: 90%;
    border: 1px solid gray;
}
.Starts__Container{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 10px;
    max-height: 20px;
 
}
.Starts__Container img{
    height: 12px;
    width: 12px;
    margin-left: 10px ;
    cursor: pointer;

}
.nbr__stars{
    margin-left: 20px;
}
.nbr__stars p{
    margin: 0;
    font-weight: bold;
    font-size: 12px;
}
.Submit__Comment{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}

.Comment_Container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
 
}
.Comment__Text{
    width: 95%;
}

.Remove__Container img{
    height: 30px;
    width:30px;
    cursor: pointer;
}
.Comment__Text p{
    margin: 0px 20px;
    font-weight: 700;
}
.Comment__Text  h6{
    margin: 3px 20px;

}