/* input{
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  width: 300px;
  outline:none;
  border-color: gray;
}
label{
  font-weight: bold;
} */
.link {
  color: #FFF;
}
.link:hover {
   color:#eeeeee
}
.toast-message{
  width:500px;
  margin-right: 100px;
  font-weight: bold;
  
}
html,body{
  margin: 0;
  height: 100%;

  
}