body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body h1,h2,h3,h4,h5,h6{
  font-family:Arial
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

